.messages{
  position: fixed;
  right: 5vw;
  top: 15vh;
  z-index: 10000000;


}
.v-alert{
  display: flex !important;
}
.fade-in-enter-active, .fade-in-leave-active {
  transition: all .3s;

}
.fade-in-enter, .fade-in-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(-300px);
  opacity: 0;
}